# Игнорировать временные и кэш-файлы
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
.venv
# Игнорировать директории с сборками
build/

# Игнорировать специфичные для IDE файлы
.vscode/
.idea/
*.swp

# Игнорировать временные файлы системы
.DS_Store
Thumbs.db

# Сервисные данные инструментов
tools/pgsql/service_folders/
.env
