[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
alembic = "*"
uvicorn = "*"
pydantic-settings = "*"

[dev-packages]
pre-commit = "*"
commitizen = "*"
black = "*"

[requires]
python_version = "3.12"
